<div class="ts-row ts-form-row">
	<div class="ts-col-span4">
		<input type="checkbox" id="skipUserPrivilegeSeeds" name="skipUserPrivilegeSeeds"/>
		<label class="ts-label" for="skipUserPrivilegeSeeds">Exclude User Privileges</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipUserroleSeeds" name="skipUserroleSeeds"/>
		<label class="ts-label" for="skipUserroleSeeds">Exclude User Roles</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipUsergroupSeeds" name="skipUsergroupSeeds"/>
		<label class="ts-label" for="skipUsergroupSeeds">Exclude User Groups</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipTagSeeds" name="skipTagSeeds"/>
		<label class="ts-label" for="skipTagSeeds">Exclude Tags</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipCategorySeeds" name="skipCategorySeeds"/>
		<label class="ts-label" for="skipCategorySeeds">Exclude Categories</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipContenttypeSeeds" name="skipContenttypeSeeds"/>
		<label class="ts-label" for="skipContenttypeSeeds">Exclude Content Types</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipAssetSeeds" name="skipAssetSeeds"/>
		<label class="ts-label" for="skipAssetSeeds">Exclude Assets</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipDataSeeds" name="skipDataSeeds"/>
		<label class="ts-label" for="skipDataSeeds">Exclude Data</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipItemSeeds" name="skipItemSeeds"/>
		<label class="ts-label" for="skipItemSeeds">Exclude Items</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipCollectionSeeds" name="skipCollectionSeeds"/>
		<label class="ts-label" for="skipCollectionSeeds">Exclude Collections</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipCompilationSeeds" name="skipCompilationSeeds"/>
		<label class="ts-label" for="skipCompilationSeeds">Exclude Compilations</label>
	</div>
</div>