<% sampleseed={
	"data": [{
	  "datatype": "tag",
	  "datadocument": {
	    "title": "sample tag",
	    "author": "staff",
	    "contenttypes": []
	  }
	},
	{
	  "datatype": "item",
	  "datadocument": {
	    "title": "sample item",
	    "content": "sample item content.",
	    "status": "publish",
	    "contenttypeattributes": {
	      "image": {
	        "image_file": "http://static.digg.com/images/1xTIDkq_2_www_large_thumb.jpeg"
	      },
	      "blog": {
	        "headline": "STICKS OF JOY",
	        "original_link": "http://gizmodo.com/how-thumbsticks-came-to-control-the-modern-world-1579561692"
	      }
	    },
	    "itemauthorname": "staff",
	    "primaryauthor": "staff",
	    "tags": [
	      "tech",
	      "technology"
	    ],
	    "categories": [
	      "entertainment",
	      "news"
	    ],
	    "contenttypes": [
	      "blog"
	    ],
	    "assets": [
	      "-uploads-files-2014-6-10-53be08b48b526fc60ebfe0ce-periodic-solid-png"
	    ]
	  }
	}]
}%>
<article class="_pea-form">
	<div class="_pea-document">
		<div class="_pea-row">
			<div class="_pea-row" id="customSeedSelection">
<!-- 				<div>
					<p>Custom your database.</p>
				</div> -->
				<div class="_pea-col-span12">
					<form class="_pea-form  _pea-ajax-form" method="post" action="/p-admin/dbseed/customseed"  data-successfunction="displayCustomSeedStatus" data-beforesubmitfunction="showCustomStatusResult">
						<h3>Import a Custom Seed</h3>
						<div class="_pea-row _pea-container-forminput">
							<textarea  id="customseed-codemirror" name="customseedjson"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor _pea-col-span12" style="height:60em;"><%- JSON.stringify(sampleseed,null,4) %></textarea>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<div class="_pea-row _pea-container-forminput _pea-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Import Custom Seeds" class="_pea-button _pea-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="_pea-row">
				<div id="customstatuscontainer" class="_pea-col-span12 " style="display:none;">
					<h3>Import status</h3>
					<textarea id="seedcustomstatus" class="textarea-tall noFormSubmit _pea-col-span12">
						Customing Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>