<% sampleseed={
	"data": [{
	  "datatype": "tag",
	  "datadocument": {
	    "title": "sample tag",
	    "author": "staff",
	    "contenttypes": []
	  }
	},
	{
	  "datatype": "item",
	  "datadocument": {
	    "title": "sample item",
	    "content": "sample item content.",
	    "status": "publish",
	    "contenttypeattributes": {
	      "image": {
	        "image_file": "http://static.digg.com/images/1xTIDkq_2_www_large_thumb.jpeg"
	      },
	      "blog": {
	        "headline": "STICKS OF JOY",
	        "original_link": "http://gizmodo.com/how-thumbsticks-came-to-control-the-modern-world-1579561692"
	      }
	    },
	    "itemauthorname": "staff",
	    "primaryauthor": "staff",
	    "tags": [
	      "tech",
	      "technology"
	    ],
	    "categories": [
	      "entertainment",
	      "news"
	    ],
	    "contenttypes": [
	      "blog"
	    ],
	    "assets": [
	      "-uploads-files-2014-6-10-53be08b48b526fc60ebfe0ce-periodic-solid-png"
	    ]
	  }
	}]
}%>
<article class="ts-form">
	<div class="ts-document">
		<div class="ts-row ts-no-heading-margin">
			<div class="ts-row" id="customSeedSelection">
<!-- 				<div>
					<p>Custom your database.</p>
				</div> -->
				<div class="ts-col-span12">
					<form id="dbseed-customseed-form" name="dbseed-customseed-form" class="ts-form async-admin-ajax-forms" method="post" action="/p-admin/dbseed/customseed?format=json"  data-successsubmitfunction="displayCustomSeedStatus" >
						<div>
							<!-- <input type="submit" name="save_button" style="font-size: 125%;" value="Import Custom Seeds" class="ts-pull-right ts-button ts-color-success"/> -->
							<h6>Import a Custom Seed</h6>
						</div>
						<div class="ts-row ts-container-forminput">
							<textarea  id="customseed-codemirror" name="customseedjson"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;"><%- JSON.stringify(sampleseed,null,4) %></textarea>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<div class="ts-row ts-container-forminput ts-text-center">
							<input type="submit" name="save_button"  value="Import Custom Seeds" class="ts-button ts-color-success"/>
						</div>
					</form>
				</div>
			</div>
<!-- 			<div class="ts-row">
				<div id="customstatuscontainer" class="ts-col-span12 " style="display:none;">
					<h6>Import status</h6>
					<pre id="seedcustomstatus" class="pre-tall noFormSubmit ts-col-span12">
						Customing Data
					</pre>
				</div>
			</div> -->
		</div>
	</div>
</article>