<article class="ts-form">
	<div class="ts-document">
		<div class="ts-row">
			<div class="ts-row" id="exportSeedSelection">
<!-- 				<div>
					<p>Export your database.</p>
				</div> -->
				<div class="ts-col-span12">
					<form class="ts-form " method="post" action="/p-admin/dbseed/downloadseed" >
						<h3>Download Export Seed</h3>
						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span8">
								<p>Download a back up of your database.</p>
							</div>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<div class="ts-row ts-container-forminput ts-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Download Export Seeds" class="ts-button ts-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="ts-row">
				<div id="exportstatuscontainer" class="ts-col-span12 " style="display:none;">
					<h3>Export status</h3>
					<textarea id="seedexportstatus" class="textarea-tall noFormSubmit ts-col-span12">
						Exporting Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>