<article class="ts-form">
	<div class="ts-document">
		<div class="ts-row ts-no-heading-margin">
			
			<div class="ts-row" id="importSeedSelection">
				<div>
					<p>First upload or select a previously uploaded seed or database backup.</p>
				</div>
				<div class="ts-col-span5">
					<h6>Upload a seed file</h6>
					<div class="ts-row ts-container-forminput ts-text-center ts-form" style="margin-bottom:2em;">
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="file" name="upload-seed_button" id="upload-seed_button" value="Upload" class="ts-button ts-col-span12 ts-color-default"/>
					</div>					
				</div>
				<div class="ts-col-span1 ts-text-center">
					<h6 style="margin-top:1.5em">OR</h6>
				</div>
				<div class="ts-col-span6 ts-pull-right">
					<h6>Use an existing Seed File</h6>
					<div class="ts-row ts-container-forminput ts-form">
						<select id="existingseedlist" name="existingseedlist">
							<% if(existingseeds && existingseeds.length<1){%>
							<option>No seeds files</option>
							<%}
							else{%>
								<option>Select an existing seed</option>
							<%
								existingseeds.forEach(function(seedfile){
									%>
									<option value="<%- seedfile%>"><%- seedfile%></option>
									<%
								});
								} %>
						</select>
					</div>
				</div>
			</div>
			<div class="ts-row" id="importFormContainer" style="display:none;">
				<div class="ts-col-span12">
					<form class="ts-form ts-ajax-form noFormSubmit" method="post" action="/p-admin/dbseed/uploadseed" data-successfunction="displayImportSeedStatus" data-beforesubmitfunction="showImportStatusResult">
						<h6>Selected Import Seed</h6>
						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span8">
								<p>Select if you want to replace data (by checking wipe and replace) or import new data.</p>
							</div>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="hidden" name="previousseed" id="previousseed" >

						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span2">
								<small>Name:</small>
							</div>
							<input type="text" id="seedpathdisplay" class="ts-col-span10" name="seedpathdisplay" value=""  disabled="disabled"  >
							<input type="hidden" id="seedpath" class="ts-col-span10" name="seedpath" value=""   >
							<input type="hidden" id="assetid" class="ts-col-span10" name="assetid" value="" >
						</div>
						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span2">
								<label class="ts-text-small ts-color-error" for="wipecheckbox">Wipe & replace:</label>
							</div>
							<input type="checkbox" id="wipecheckbox" name="wipecheckbox" value="wipe"> <span class="ts-color-error ts-text-small">WARNING:</span><span class="ts-text-small"> This will replace all data in the database, a databse back up seed will be created in content/files/dbseeds</span>
						</div>
						<div class="ts-row ts-container-forminput ts-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Import Seed" class="ts-button ts-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="ts-row">
				<div id="importstatuscontainer" class="ts-col-span12 " style="display:none;">
					<h6>Import status</h6>
					<textarea id="seedimportstatus" class="textarea-tall noFormSubmit ts-col-span12">
						Importing Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>