<% include ../../../../periodicjs.ext.admin/views/shared/header %>
<% include ../../../../periodicjs.ext.admin/views/shared/nav %>
	<input type="hidden" name="_csrf" value=<%= locals.token %> >
	<div class="_pea-container">
		<div class="_pea-row">
			<div class="_pea-col-span8">
				<div class="_pea-row">
					<div class="_pea-col-span12">
						<div id="tabs" class="tabs">
							<nav>
								<ul class="_pea-col-span12">
									<li class="_pea-col-span4 _pea-no-margin">Import</li>
									<li class="_pea-col-span4 _pea-no-margin">Export</li>
									<li class="_pea-col-span4 _pea-no-margin">Custom Seeds</li>
								</ul>
							</nav>
							<div class="content">
								<section class="_pea-no-padding">
									<% include _import_tab %>
								</section>
								<section class="_pea-no-padding">
									<form class="_pea-form _pea-ajax-form noFormSubmit" method="post" action="/p-admin/settings/updateappsettings">
										<div class="_pea-document">
											export
										</div>
									</form>
								</section>
								<section class="_pea-no-padding">

									<form class="_pea-form _pea-ajax-form noFormSubmit" method="post" action="/p-admin/settings/updateappsettings">
										<div class="_pea-document">
											custom
										</div>
									</form>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="_pea-col-span3 _pea-pull-right">
				<form class="_pea-form _pea-ajax-form" method="post" action="/p-admin/mailer/testmail">
					<div class="_pea-document">
						<div class="_pea-row">
						<h3>About DB Seeds & Migrations</h3>
							<p>Database seeds are an efficient way of populating your database using periodic's database models.</p>
							<p>The seed format is a JSON document, that is inserted into the database and will automatically connect references to other content documents, tag, and taxonimies if they're referenced by name.</p>
						</div>
						<div class="_pea-row">
							<h3>Example <select>
								<option value="item">item</option>
								<option value="collection">collection</option>
								<option value="library">library</option>
								<option value="tag">tag</option>
								<option value="category">category</option>
								<option value="contenttype">contenttype</option>
								<option value="userprivilve">category</option>
								<option value="userrole">userrole</option>
								<option value="dbsetting">dbsetting</option>
								<option value="user">user</option>
							</select> seed</h3>
							<textarea id="example-seed-ta" class="_pea-col-span12"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-advanced.js"></script>
	<script type="text/javascript" src="<%= locals.themehelper.extensionPublicResourcePath('periodicjs.ext.admin','js') %>wysihtml5-0.4.0pre.min.js"></script>
<% include  ../../../../periodicjs.ext.admin/views/shared/footer %>
