<% include ../../../../periodicjs.ext.asyncadmin/views/shared/header %>
	<style>
	.CodeMirror{
		height:auto;
	}
	</style>
	<input type="hidden" name="_csrf" value=<%= locals.token %> >
	<div class="ts-container">
		<div class="ts-row">
			<div class="ts-col-span12">
				<div id="dbseed-tabs" class="ts-tabs">
					<nav>
						<ul class="ts-col-span12 ts-text-center">
							<li class="ts-col-span3 ts-no-margin">Import</li>
							<li class="ts-col-span3 ts-no-margin">Export</li>
							<li class="ts-col-span3 ts-no-margin">Custom Seeds</li>
							<li class="ts-col-span3 ts-no-margin">Example Seeds</li>
						</ul>
					</nav>
					<div class="ts-tabs-content">
						<section class="ts-no-padding">
							<% include _import_tab %>
						</section>
						<section class="ts-no-padding">
							<% include _export_tab %>
						</section>
						<section class="ts-no-padding">
							<% include _customseed_tab %>
						</section>
						<section class="ts-no-padding">
							<% include _more_info_pane %>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.dbseed/js/dbseed.min.js"></script>
<% include  ../../../../periodicjs.ext.asyncadmin/views/shared/footer %>
